@using Store.Shared.Dto;

@if (_order != null)
{
    <div class="card right">
        <p class="close" @onclick="() => Cancel()">X</p>
        <div class="card-header padding-1rem">
            @if (_order.Id == Guid.Empty)
            {

                <p class="title text-primary">Add order</p>
            }
            else
            {
                <p class="title text-primary">Edit order</p>
            }
        </div>
        <EditForm Model="@_order" OnSubmit="@Submit">
            <DataAnnotationsValidator />
            <div class="form">
                <label for="supplier" class="label">Supplier: </label>
                <InputSelect id="supplier" class="dropdown" @bind-Value="@_order.SupplierId">
                    @foreach (var supplier in Suppliers)
                    {
                        <option value="@supplier.Id">@supplier.Name</option>
                    }
                </InputSelect>
                <fieldset>
                    <legend class="text-primary">
                        Products
                    </legend>
                    <i class="fa-solid fa-add text-primary mrg-1" @onclick="() => AddOrderLine()" style="cursor: pointer"><span class="mrg-0">Add product</span></i>
                    @foreach (OrderLineDto orderLine in _order.OrderLines)
                    {
                        <fieldset class="mrg-1">
                            <label for="product" class="label">Product: </label>
                            <InputSelect id="product" class="dropdown" @bind-Value="@orderLine.ProductId">
                                @foreach (var product in Products)
                                {
                                    <option value="@product.Id">@product.Title</option>
                                }
                            </InputSelect>
                            <label for="quantity" class="label">Quantity: </label>
                            <InputNumber id="quantity" class="form-control input" @bind-Value="@orderLine.Quantity" placeholder="Quantity" />
                            <ValidationMessage class="error" For="@(() => orderLine.Quantity)" />

                            <label for="netCost" class="label">Net cost: </label>
                            <InputNumber id="netCost" class="form-control input" @bind-Value="@orderLine.NetCost" />

                            <label for="vat" class="label">Vat: </label>
                            <InputNumber id="vat" class="form-control input" @bind-Value="@orderLine.VatCost" />
                        </fieldset>
                    }
                </fieldset>
                <label for="TotalCost" class="label">Total Cost: </label>
                <InputNumber id="TotalCost" class="form-control input" @bind-Value="@_order.TotalCost" placeholder="Total Cost" />
                <ValidationMessage class="error" For="@(() => _order.TotalCost)" />
                <label for="TotalVatCost" class="label">Vat: </label>
                <InputNumber id="TotalVatCost" class="form-control input" @bind-Value="@_order.TotalVatCost" placeholder="Vat" />
                <ValidationMessage class="error" For="@(() => _order.TotalVatCost)" />
                <label for="TotalVatCost" class="label">Vat: </label>
                <InputNumber id="TotalVatCost" class="form-control input" @bind-Value="@_order.TotalVatCost" placeholder="Vat" />
                <ValidationMessage class="error" For="@(() => _order.TotalVatCost)" />
                
                <label for="File" class="label">File: </label>
                <InputFile OnChange="OnInputFileChange" />
                <div class="form-actions">
                    @if (IsSaving)
                    {
                        <div class="loader"></div>
                    }
                    else
                    {
                        <button class="submit" type="submit">Submit</button>
                        <button class="cancel" type="button" @onclick="() => Cancel()">Cancel</button>
                    }

                </div>
                <ValidationSummary />
            </div>
        </EditForm>
    </div>
}