<CascadingValue Value="this">
    <div class="@(IsOpen ? "uni-dialog open": "uni-dialog")" id="@Id">
        <div class="uni-dialog-header">
            <div class="wizard-progress">
                @foreach (var step in Steps)
                {
                    <div 
                        id="step-@(StepsIndex(step) + 1)" 
                        class="step @((ActiveStep == step) ? "in-progress" : "") @((StepsIndex(ActiveStep) > StepsIndex(step)) ? "complete" : "")" 
                        @onclick="@(e=> SetActive(step))">

                        <div class="circle">
                            @(StepsIndex(step) + 1)
                        </div>
                        @step.Name
                    </div>
                }
            </div>
        </div>
        <div id="container-fluid" class="uni-dialog-content">
            @ChildContent
        </div>
        <div class="uni-dialog-actions">
            <button type="button"
                    disabled="@(ActiveStepIx == 0)" @onclick="GoBack">
                Previous
            </button>
            <button class="@(IsLastStep ? "submit" : "primary")"
                    type="@(IsLastStep ? "submit" : "button")" @onclick="GoNext">
                @(IsLastStep ? "Submit" : "Next")
            </button>
        </div>
    </div>
</CascadingValue>
﻿