<CascadingValue Value="this">
    <div class="@(IsVisible ? "open": "") uni-dialog--full-screen" id="@Id">
        @* --full-screen *@
        <div class="uni-dialog-header">
            <p class="close" @onclick="() => Close()"><i class="fa-regular fa-circle-xmark"></i></p>
            <div class="wizard-progress">
                @foreach (var step in Steps)
                {
                    <div id="step-@(StepsIndex(step) + 1)"
                         class="step @((ActiveStep == step) ? "in-progress" : "") @((StepsIndex(ActiveStep) > StepsIndex(step)) ? "complete" : "")"
                    @onclick="@(e=> SetActive(step))">

                        @if (!step.IsStepValid)
                        {
                            <div class="circle"> @(StepsIndex(step) + 1)</div>
                        }
                        else
                        {
                            <div class="circle">&#10003;</div>
                        }
                        @step.Name
                    </div>
                }
            </div>
        </div>
        <div id="container-fluid" class="uni-dialog-content">
            @ChildContent
        </div>
        <div class="uni-dialog-actions">
            <button type="button"
                    disabled="@(ActiveStepIx == 0)" @onclick="GoBack">
                Previous
            </button>
            <button class="@(ActiveStep?.IsStepValid == false ? "disabled" : IsLastStep ? "submit" : "primary") uni-dialog-actions__secondary-action"
                    type="@(IsLastStep ? "submit" : "button") uni-dialog-actions__primary-action" @onclick="GoNext" disabled="@(IsLastStep ? Steps.Any(x => x.IsStepValid == false) ? true : false : !ActiveStep?.IsStepValid)">
                @(IsLastStep ? "Submit" : "Next")
            </button>
        </div>
    </div>
</CascadingValue>
﻿