@using Store.Shared.Enums;
@using Store.Web.Helpers.Modals;
@typeparam T
@if (_data != null)
{
    <div class="data-grid">
        <div class="headers row">
            @foreach (Column column in Columns)
            {
                <div class="col">
                    <span class="pd-1" @onclick="() => ToggleSort(column)">
                        <strong>
                            @column.Name
                        </strong>
                        <i class="@(column.Sort == SortDirection.Ascending ? "fa-solid fa-arrow-right fa-rotate-270" : column.Sort == SortDirection.Descending ? "fa-solid fa-arrow-right fa-rotate-90" : "")" />
                        @if (column.SortOrder > -1)
                        {
                            <span>@column.SortOrder</span>
                        }
                    </span>
                </div>
            }
            @if (CanEditItem || CanDeleteItem)
            {
                <div class="col">
                    <span class="pd-1">
                        <strong>
                            Actions
                        </strong>
                    </span>
                </div>
            }
        </div>
        <div class="rows">
            @foreach (var item in _data)
            {
                <div class="@("row " + (_data.IndexOf(item) % 2 == 0 ? "even" : "odd"))">
                    @foreach (Column column in Columns)
                    {
                        <div class="col pd-0">
                            <span>
                                @if (column.ColumnType == "Dropdown")
                                {
                                    @column?.Dropdown?.Values.FirstOrDefault(x => x.Id.ToString() == @GetPropValue(item, column.Name).ToString()).Value
                                }
                                else if (column.ColumnType == "Bool")
                                {
                                    if (@GetPropValue(item, column.Name) == "True")
                                    {
                                        <i class="fa-solid fa-check"></i>
                                    }
                                    else
                                    {
                                        <i class="fa-solid fa-xmark"></i>
                                    }
                                }
                                else
                                {
                                    @GetPropValue(item, column.Name)
                                }
                            </span>
                        </div>
                    }
                    @if (CanEditItem || CanDeleteItem)
                    {
                        <div class="col">
                            <div class="actions">
                                @if (CanEditItem)
                                {
                                    <button class="edit" @onclick="() => Edit(item)">
                                        <i class="fa-solid fa-edit"></i>
                                    </button>
                                }
                                @if (CanDeleteItem)
                                {
                                    <button class="remove" @onclick="() => DeleteItem(item)">
                                        <i class="fa-solid fa-trash-can"></i>
                                    </button>
                                }
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
        @if (PaginationMetadata != null)
        {
            <div class="footer row">
                <InputSelect id="page" class="dropdown" @bind-Value="@PaginationMetadata.PageSize">
                    @foreach (int pageSize in new int[5, 10, 15, 20])
                    {
                        <option value="@pageSize">@pageSize</option>
                    }
                </InputSelect>

                <h6>1</h6>
                <i class="fa-solid fa-arrow-right fa-rotate-360" />
                <h6>@PaginationMetadata.CurrentPage</h6>
                <i class="fa-solid fa-arrow-right fa-rotate-180" />
                <h6>@PaginationMetadata.TotalPageCount</h6>
            </div>
        }
    </div>
}
else
{
    <svg class="loading-progress">
        <circle r="40%" cx="50%" cy="50%" />
        <circle r="40%" cx="50%" cy="50%" />
    </svg>
    <div class="loading-progress-text"></div>
    @* <div class="loader"></div> *@
}
