@page "/CheckoutDashboard"
@using Store.Web.Components
@using Store.Web.Components.Checkout
@attribute [Authorize]

<PageTitle>Checkout dashoard</PageTitle>
<div class="dashboard pd-0">
    <ul class="parent-categories">
        @foreach (var category in _Categories.Where(x => x.ParentCategoryId == null))
        {
            <li class="card @( category.Id == _SelectedCategory?.Id ? "active" : "")" style="background-color:@category?.Color" @onclick="() => SetSelectedCategroy(category)">
                <div class="details">
                    <p>@category.Title</p>
                </div>
            </li>
        }
    </ul>

    <ul class="children-categories">
        @if (_SelectedCategory != null)
        {
            @foreach (var category in GetAllChildCategories(_SelectedCategory.Id))
            {
                <li class="card @(_SelectedSubCategory != null && category.Id == _SelectedSubCategory.Id ? "active" : "")" @onclick="() => SetSelectedSubCategroy(category)">
                    <div class="details">
                        <p>@category.Title</p>
                    </div>
                </li>
            }
        }
    </ul>
    <section class="dashboard-products pd-2">
        @foreach (var product in GetAllProductsUnderTopCategory())
        {
            <article class="card" @onclick="() => AddItemToTicket(product)">
                <div class="thumbnail">
                    <img src="https://www.coca-cola.com/content/dam/onexp/be/nl/home-images/brands/coca-cola/BE_coca-cola-regular_750x750.jpg" alt="@product.Title">
                </div>
                <div class="details">
                    <p>@product?.Title</p>
                    <p>@product?.PricePerUnit.ToString("C")</p>
                </div>
            </article>
        }
    </section>
    <TicketSidebar NewSaleLine="_SaleLine" />
</div>